<div class="AknFullPage AknFullPage--modal">
    <div class="AknFullPage-buttons">
        <div class="AknButtonList">
            <span class="AknButtonList-item AknFullPage-cancel"></span>
        </div>
    </div>
    <div class="AknFullPage-content AknFullPage-content--column">
        <div>
            <div class="AknFullPage-subTitle"><%- subTitle %></div>
            <div class="AknFullPage-title"><%- modalTitle %></div>

            <div class="AknWidget-content AknWidget-content--withPadding">
                <div class="AknSquareList AknSquareList--centered">
                </div>
            </div>
        </div>
    </div>
</div>
